JulioGomez/WebAplicacion/Service References/WebServiceCorresponsal/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:19450/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebService" />
  <xs:element name="getCorresponsal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodCorresponsal" type="xs:int" />
        <xs:element minOccurs="0" name="NombreCorresponsal" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCorresponsalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WebService" minOccurs="0" name="getCorresponsalResult" nillable="true" type="q1:Corresponsal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>