JulioGomez/WebAplicacion/Service References/WebServiceCorresponsal/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Corresponsal">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodCorresponsal" type="xs:int" />
      <xs:element minOccurs="0" name="NombreCorresponsal" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Corresponsal" nillable="true" type="tns:Corresponsal" />
</xs:schema>